/*
***Fixed CSS Layout 
- The position or the width is fixed
- used Div id=Container: to contain all the div's such as header main external linkes.


*/


body{
    background-color:white;
    margin: 0px;
    font-family: Arial,Verdana, Georgia,serif;
    font-size: 14px;
}

#container{  
    margin: 0px auto;
}

#header{
    background-color:white;
    height: 75px;
}
/*Navigation Bar*/
#navbar{
    background-color:da;
    text-align: center;
    border: solid 2px black;
    height: 30px;
    font-weight: bold;
}

.main{
    float: right;
    background-color:#D1EEEA;
    font-size:110%;
    font-family: Arial;
    overflow: auto;
    height: 700px;
}

.sidebar{
    float: left;
    background-color:slategray; 
    width:176px;
    height:704px;
    font-size:105%;
}


#footer{
    background-color:gray;
    height: 60px;
    clear: both;
    color: gold;
    text-align: center;
    font-size: 90%;
    margin-bottom: 10px;
}
h1.topheader{
    font-size: 300%;
    color: goldenrod;
    margin-left: 300px;
}
h2{
    font-size: 120%;
    color: goldenrod;
}
h3{
    font-size: 250%;
    text-align: center;
    color: gold;
    font-family: "Century Gothic";
    
    position:relative;
    top:50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


/*Navigation footer*/


/*
#footer ul {
    background-color:gray;
    text-align: center;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}

#footer ul li{
    display: inline;
}

#footer ul li a{
    text-decoration: none;
    font-family: Arial;
    padding: .2em 1em;
    color: gold;
}

#footer ul li a:hover{
    color: black;
    background-color:gold;
}
*/
/*------------------------ Buttons -----------------------*/

/*
#navbar ul {
    background-color:black;
    text-align: center;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}

#navbar ul li{
    display: inline;
}

#navbar ul li a{
    text-decoration: none;
    font-family: Arial;
    padding: .2em 1em;
    color: gold;
    background-color: black;
}

#navbar ul li a:hover{
    color: black;
    background-color:gold;
}
*/

.sidebarTwo{
    background-color:lightgray;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    border-radius: 5px; 
    width:260px;
    padding: 20px;
    float: right;
    font-size:105%;
    clear: right;
}
.imgbar{
    width:300px;
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    border-radius: 5px; 
    clear: right;
    opacity: 1.0;
    transition: opacity 0.5s ease-in-out;
}
.imgbar:hover{
    opacity: 0.4;
}